#Anyscale Endpoint
ANYSCALE_API_BASE="https://console.endpoints.anyscale.com/m/v1"
ANYSCALE_API_KEY="secret_xxxxx"

#OpenAI Endpoint
OPENAI_API_BASE="https://api.openai.com/v1"
OPENAI_API_KEY="sk-xxxxx"                           

#Fireworks Endpoint
FIREWORKS_API_BASE="https://api.fireworks.ai/inference/v1"
FIREWORKS_API_KEY="xxxxx"

# MLC-LLM Endpoint
MLC_API_BASE="http://127.0.0.1:8000/v1"
MLC_API_KEY="123"

#vLLM Endpoint
VLLM_API_BASE="http://127.0.0.1:8000/v1"
VLLM_API_KEY="123"


# Huggingface  Text Generation Inference
TGI_API_BASE="http://localhost:8001"
TGI_API_KEY="enter key"
