awscli==1.32.88
boto3==1.34.88
google-cloud-aiplatform==1.48.0
litellm==1.35.18
num2words==0.5.13
pandas==2.2.2
pydantic==2.4.2
pytest==8.1.1
ray==2.11.0
seaborn==0.13.2
torch==2.2.2
transformers==4.40.0
typer==0.12.3