openai
num2words
python_dotenv
pandas
tiktoken
transformers==4.33.3
matplotlib
scikit-learn
ray[default]
tokenizers==0.13.3
### Extra dependency for Together
#requests
#sseclient-py
### Extra dependency for Vertex AI
#vertexai
### Extra dependency for SageMaker
#boto3
